<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Listing</title>
  {% load staticfiles %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'user_app/css/styles.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div>
    {% if request.session.current_user != null %}
    <span>Welcome <a href="{% url 'user_app:show_user' user_id=user.id %}">{{user.first_name}}</a></span> | {% endif %}
    <a href="{% url 'listing_app:index' %}">Home</a> |
    <a href="{% url 'user_app:logout' %}">Logout</a>
  </div>

  <div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="box">
    <h4>Listing</h4>
    <form action="{% url 'listing_app:edit_listing' listing_id=listing.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="user" value="user.id">

      <img src="{% static 'user_app/images/logo.jpg' %}" alt="{{listing.neighborhood}}" class="photo">

      <label for="address1">Address 1:</label>
      <input type="text" name="address1" value="{{listing.address1}}">

      <label for="address2">Address 2:</label>
      <input type="text" name="address2" value="{{listing.address2}}">

      <label for="zipcode">Zip Code:</label>
      <input type="text" name="zipcode" value="{{listing.zipcode}}">

      <label for="neighborhood">Neighborhood:</label>
      <select name="neighborhood-select">
          <option> </option>
          {% for neighborhood in neighborhoods %}
            {% if neighborhood.id == listing.neighborhood.id %}
              <option value="{{neighborhood.id}}" selected>{{neighborhood.name}}</option>
            {% else %}
              <option value="{{neighborhood.id}}">{{neighborhood.name}}</option>
            {% endif %}
          {% endfor %}
        </select>

      <label for="city">City:</label>
      <select name="city-select">
          <option> </option>
          {% for city in citys %}
          {% if city.id == listing.city.id %}
          <option value="{{city.id}}" selected>{{city.name}}</option>
          {% else %}
          <option value="{{city.id}}">{{city.name}}</option>
          {% endif %}
          {% endfor %}
        </select>

      <label for="state">Select State:</label>
      <select name="state-select">
          <option> </option>
          {% for state in states %}
          {% if state.id == listing.state.id %}
          <option value="{{state.id}}" selected>{{state.name}}</option>
          {% else %}
          <option value="{{state.id}}">{{state.name}}</option>
          {% endif %}
          {% endfor %}
        </select>
      <label for="state">or add State:</label>
      <input type="text" name="new-state" value="">

      <label for="country">Country:</label>
      <select name="country-select">
          <option> </option>
          {% for country in countrys %}
          {% if country.id == listing.country.id %}
          <option value="{{country.id}}" selected>{{country.name}}</option>
          {% else %}
          <option value="{{country.id}}">{{country.name}}</option>
          {% endif %}
          {% endfor %}
        </select>

      <label for="description">Description:</label>
      <textarea name="description">{{listing.description}}</textarea>

      <label for="price">Price:</label>
      <input type="text" name="price" value="{{listing.price}}">

      <label for="sqft">Square Feet:</label>
      <input type="text" name="sqft" value="{{listing.sqft}}">

      <label for="beds"># of beds:</label>
      <input type="text" name="beds" value="{{listing.beds}}">

      <label for="baths"># of baths:</label>
      <input type="text" name="baths" value="{{listing.baths}}"> {% if listing.sell %}
      <input type="checkbox" name="sell" value="sell" checked> sell {% else %}
      <input type="checkbox" name="sell" value="sell"> sell {% endif %} {% if listing.rent %}
      <input type="checkbox" name="rent" value="rent" checked> rent {% else %}
      <input type="checkbox" name="rent" value="rent"> rent {% endif %}

      <input class="button" type="submit" value="Save Changes">
    </form>
    
    <form action="{% url 'listing_app:add_to_my_favorites' listing_id=listing.id %}" method="post">
      {% csrf_token %}
      <input type="submit" class="button" value="Add to Favorites"></p>
    </form>
  </div>
  <div class="box">
    <h4>Favorited by</h4>
    {% for favorite in listing.favorites.all %}
        <p>
          <img src="{% static 'user_app/images/user.jpg' %}" alt="{{favorite.first_name}} {{favorite.last_name}}">
          <a href="{% url 'user_app:show_user' user_id=favorite.id %}">{{favorite.first_name}} {{favorite.last_name}}</a> {{favorite.phone}}
        </p>
    {% endfor %}
  </div>
  <div class="box">
    <h4>Reviews:</h4>
    {% for review in reviews %}
      <p>Rating: {% for i in "x"|rjust:review.stars %}
      <img src="{% static 'user_app/images/star.png' %}" alt="star"> {% endfor %}</p>
      <p>
        <img src="{% static 'user_app/images/user.ico' %}" alt="{{review.user.first_name}} {{review.user.last_name}}">
        <a href="{% url 'user_app:show_user' user_id=review.user.id %}">{{review.user.first_name}} {{review.user.last_name}}</a> says: <i>{{review.content}}</i>
      </p>
      <p>Posted on {{review.created_at}} 
      {% if review.user.id == request.session.current_user %}</p>
      <form action="{% url 'listing_app:delete_review' review_id=review.id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="button" value="Delete this Review"></p>
      </form>
      {% endif %}
    {% endfor %}
  </div>
  <div class="box">
    <h4>Add a review</h4>
    <form action="{% url 'listing_app:add_review' listing_id=listing.id %}" method="post">
      {% csrf_token %}
      <label for="content">Review:</label>
      <textarea name="content" placeholder="Your review here..."></textarea>
      <br>
      <label for="rating">Rating (stars):</label>
      <select name="rating">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select>
      <input class="button" type="submit" name="" value="Submit Review">
    </form>
  </div>
</body>

</html>