<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Listing</title>
  {% load staticfiles %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'user_app/css/styles.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="{% url 'listing_app:index' %}"><img src="{% static 'favicon.ico' %}" alt="zillow"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
        <ul class="nav navbar-nav">
          {% if request.session.current_user != null %}
          <li class="active"><a href="{% url 'listing_app:search_listing' sell=True %}">Buy</a></li>
          <li><a href="{% url 'listing_app:search_listing' sell=False %}">Rent</a></li>
          <li><a href="{% url 'listing_app:new_listing' %}">Sell</a></li>
          <li><a href="{% url 'user_app:search_user' %}">Agents</a></li>
          {% else %}
          <li class="active"><a href="{% url 'user_app:sign_in' %}">Buy</a></li>
          <li><a href="{% url 'user_app:sign_in' %}">Rent</a></li>
          <li><a href="{% url 'user_app:sign_in' %}">Sell</a></li>
          <li><a href="{% url 'user_app:sign_in' %}">Agents</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if request.session.current_user != null %}
          <li><a href="{% url 'user_app:show_user' user_id=user.id %}">{{user.first_name}}</a></li>
          <li><a href="{% url 'user_app:logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'user_app:sign_in' %}">Sign in</a></li>
          <li><a href="{% url 'user_app:join' %}">Join</a></li>
          {% endif %}
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav> 
  
  <div id="flash">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  </div>
  
  <div class="box">
    <h4>Listing</h4>
    <form action="{% url 'listing_app:create_listing' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="user" value="user.id">

        <label for="address1">Address 1:</label>
        <input type="text" name="address1" value="{{request.session.address1}}">

        <label for="address2">Address 2:</label>
        <input type="text" name="address2" value="{{request.session.address2}}">

        <label for="zipcode">Zip Code:</label>
        <input type="text" name="zipcode" value="{{request.session.zipcode}}">

        <label for="neighborhood">Select Neighborhood:</label>
        <select name="neighborhood-select">
          <option> </option>
          {% for neighborhood in neighborhoods %}
            {% if neighborhood.id == request.session.neighborhood %}
              <option value="{{neighborhood.id}}" selected>{{neighborhood.name}}</option>
            {% else %}
              <option value="{{neighborhood.id}}">{{neighborhood.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
        <label for="neighborhood">or add Neighborhood:</label>
        <input type="text" name="new-neighborhood" value="">

        <label for="city">Select City:</label>
        <select name="city-select">
          <option> </option>
          {% for city in citys %}
          {% if city.id == request.session.city.id %}
          <option value="{{city.id}}" selected>{{city.name}}</option>
          {% else %}
          <option value="{{city.id}}">{{city.name}}</option>
          {% endif %}
          {% endfor %}
        </select>
        <label for="city">or add City:</label>
        <input type="text" name="new-city" value="">

        <label for="state">Select State:</label>
        <select name="state-select">
          <option> </option>
          {% for state in states %}
          {% if state.id == request.session.state.id %}
          <option value="{{state.id}}" selected>{{state.name}}</option>
          {% else %}
          <option value="{{state.id}}">{{state.name}}</option>
          {% endif %}
          {% endfor %}
        </select>
        <label for="state">or add State:</label>
        <input type="text" name="new-state" value="">

        <label for="country">Select Country:</label>
        <select name="country-select">
          <option> </option>
          {% for country in countrys %}
          {% if country.id == request.session.country.id %}
          <option value="{{country.id}}" selected>{{country.name}}</option>
          {% else %}
          <option value="{{country.id}}">{{country.name}}</option>
          {% endif %}
          {% endfor %}
        </select>
        <label for="country">or add Country:</label>
        <input type="text" name="new-country" value="">

        <label for="description">Description:</label>
        <textarea name="description">{{request.session.description}}</textarea>

        <label for="price">Price:</label>
        <input type="text" name="price" value="{{request.session.price}}">

        <label for="sqft">Square Feet:</label>
        <input type="text" name="sqft" value="{{request.session.sqft}}">

        <label for="beds"># of beds:</label>
        <input type="text" name="beds" value="{{request.session.beds}}">

        <label for="baths"># of baths:</label>
        <input type="text" name="baths" value="{{request.session.baths}}">

        <input type="checkbox" name="sell"  value="sell" checked> sell
        <input type="checkbox" name="rent"  value="rent" > rent

        <input class="button" type="submit">
    </form>
  </div>
</body>
</html>