body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  background-image: url('../images/wallpaper.jpg');
  background-repeat: no-repeat;
  text-align: center;
}
.slogan{
  color: white;
  font-weight: bold;
}
.button{
  color: white;
  font-weight: bold;
  background: linear-gradient(180deg,orange, darkorange, orange);
}
/* Small sized screens */
@media (max-width: 480px) {
  .box{
    width: 300px;
  }
  .button{
    margin-left: 70px;
  }
  .slogan{
    font-size: 24px; 
  }
  #toolbar li{
    width: 64px;
    font-size: 14px; 
  }
}
/* Medium sized screens */
@media only screen and (min-width: 481px) {
  .box{
    width: 360px;
  }
  .button{
    margin-left: 170px;
  }
  .slogan{
    font-size: 48px; 
  }
  #toolbar li{
    width: 128px;
    font-size: 24px; 
  }
}
/* Large sized screens */
@media only screen and (min-width: 1024px) {
  .box{
    width: 360px;
  }
  .button{
    margin-left: 170px;
  }
  .slogan{
    font-size: 96px; 
  }
  #toolbar li{
    width: 256px;
    font-size: 48px; 
  }
}
.container{
  background-color: white;
  padding-top: 15px;
}
.box{
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  margin-bottom: 5px;
  background-color: white;
  text-align: left;
}
label{
  width: 160px;
}
input{
  width: 160px;
}
select{
  width: 160px;
}
.button{
  width: 170px;
  margin-top:15px;
  padding: 5px;
}
.success{
  color:green;
}
.error{
  color:red;
}
#map {
    height: 533px;
    width: 100%;
}
.box li{
  margin-left: -40px;
  margin-bottom: 5px;
  list-style-type: none;
}
#flash {
  background-color: white;
  margin-bottom: 5px;
}
#toolbar ul{
  margin-left: -40px;
}
#toolbar a{
  color: silver;
}
#toolbar li{
  font-weight: bold;
  padding: 20px 0;
  margin: 0;
  background-color: black;
  opacity: 0.8;
  list-style-type: none;
  display:inline-block;
  border: 1px solid silver;
}
.photo{
  margin-bottom: 5px;
}