<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Users</title>
  {% load staticfiles %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'user_app/css/styles.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="{% url 'listing_app:index' %}"><img src="{% static 'favicon.ico' %}" alt="zillow"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
        <ul class="nav navbar-nav">
          {% if request.session.current_user != null %}
          <li class="active"><a href="{% url 'listing_app:search_listing' sell=True %}">Buy</a></li>
          <li><a href="{% url 'listing_app:search_listing' sell=False %}">Rent</a></li>
          <li><a href="{% url 'listing_app:new_listing' %}">Sell</a></li>
          <li><a href="{% url 'user_app:search_user' %}">Agents</a></li>
          {% else %}
          <li class="active"><a href="{% url 'user_app:sign_in' %}">Buy</a></li>
          <li><a href="{% url 'user_app:sign_in' %}">Rent</a></li>
          <li><a href="{% url 'user_app:sign_in' %}">Sell</a></li>
          <li><a href="{% url 'user_app:sign_in' %}">Agents</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if request.session.current_user != null %}
          <li><a href="{% url 'user_app:show_user' user_id=user.id %}">{{user.first_name}}</a></li>
          <li><a href="{% url 'user_app:logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'user_app:sign_in' %}">Sign in</a></li>
          <li><a href="{% url 'user_app:join' %}">Join</a></li>
          {% endif %}
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
  
  <div id="flash">
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  </div>
  
  <div class="box">
    <h4>Users</h4>
      {% for user in users %}
        <p>
          <img src="{% static 'user_app/images/user.jpg' %}" alt="{{user.first_name}} {{user.last_name}}">
          <a href="{% url 'user_app:show_user' user_id=user.id %}">{{user.first_name}} {{user.last_name}}</a> {{user.phone}}
        </p>
      {% endfor %}
  </div>
</body>
</html>