<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>User Profile for {{user.last_name}}</title>
  {% load staticfiles %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'user_app/css/styles.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="{% url 'listing_app:index' %}"><img src="{% static 'favicon.ico' %}" alt="zillow"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
        <ul class="nav navbar-nav">
          {% if request.session.current_user != null %}
          <li class="active"><a href="{% url 'listing_app:search_listing' sell=True %}">Buy</a></li>
          <li><a href="{% url 'listing_app:search_listing' sell=False %}">Rent</a></li>
          <li><a href="{% url 'listing_app:new_listing' %}">Sell</a></li>
          <li><a href="{% url 'user_app:search_user' %}">Agents</a></li>
          {% else %}
          <li class="active"><a href="{% url 'user_app:sign_in' %}">Buy</a></li>
          <li><a href="{% url 'user_app:sign_in' %}">Rent</a></li>
          <li><a href="{% url 'user_app:sign_in' %}">Sell</a></li>
          <li><a href="{% url 'user_app:sign_in' %}">Agents</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if request.session.current_user != null %}
          <li><a href="{% url 'user_app:show_user' user_id=user.id %}">{{user.first_name}}</a></li>
          <li><a href="{% url 'user_app:logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'user_app:sign_in' %}">Sign in</a></li>
          <li><a href="{% url 'user_app:join' %}">Join</a></li>
          {% endif %}
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
  
  <div id="flash">
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  </div>

  <div class="box">
    <form action="/edit" method="post">
      <h4>User</h4>
      {% csrf_token %}
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" value="{{user.first_name}}">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" value="{{user.last_name}}">

      <label for="email">Email:</label>
      <input type="text" name="email" value="{{user.email}}">
      <label for="phone">Phone:</label>
      <input type="text" name="phone" value="{{user.phone}}">

      <label for="birthday">Birthday:</label>
      <input type="date" name="birthday" value="{{user.birthday|date:"Y-m-d"}}">

      <input class="button" type="submit" value="Save Changes">
      
    </form>
  </div>
  <div class="box">
    <h4>My Favorites</h4>
    {% for favorite in user.favorites.all %}
    <form action="{% url 'listing_app:remove_from_my_favorites' listing_id=favorite.id %}" method="post">
      {% csrf_token %}
        <img src="{% static 'user_app/images/logo.png' %}" alt="{{listing.neighborhood}}">
        <a href="{% url 'listing_app:show_listing' listing_id=favorite.id %}">
          {{favorite.address1}} {{favorite.address2}}, {{favorite.zipcode}}
        </a>
      <input type="submit" class="button" value="Remove from My List"></p>
    </form>
    {% endfor %}
  </div>
  <div class="box">
    <h4>My Listings</h4>
    <ul>
      {% for listing in user.listings.all %}
      <li>
        <img src="{% static 'user_app/images/logo.png' %}" alt="{{listing.neighborhood}}">
        <a href="{% url 'listing_app:show_listing' listing_id=listing.id %}">
          {{listing.address1}} {{listing.address2}}, {{listing.zipcode}}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</body>

</html>